@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --primary-color: #0A75BC; 
    --off-white: #eee;
    --bright-yellow: #FCE029;
    --medium-brown: #A87A51;
}
body {
    font-family: 'Permanent Marker', cursive;
    margin: 0px;
}

.container {
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.flex{
    display: flex;

}

/* Navbar */

.navigation{
    background-color: var(--primary-color);
    color: var(--bright-yellow);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand{
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    font-style: italic;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation a{
    color: var(--off-white);
    text-decoration: none;  
}

/* Input Section */

#section-input, #section-output{
    padding: 2rem;
}

#txt-input, #txt-output{
    display: block;
    width: 50%;
    height: 4rem;
    padding: 1rem;
    border-color: var(--primary-color);
}

/* Button Section */

#section-button{
    padding: 0rem 2rem;
}

.btn-translate-div{
    margin-top: 50px;
}

#btn-translate{
    padding: 1rem;
    border-radius: 7%;
    color: black;
    background-color: var(--medium-brown);
    border-color: black;
    font-family: 'Permanent Marker', cursive;
    
    
}

.btn{
    width: 50%;
    text-align: center;
}

#btn-translate:hover{
    background-color: #815b3a;
}

/* Footer Section */

#section-footer{
    padding-top: 2rem;
}
.footer{
    background-color: var(--bright-yellow);
    padding: 1rem 1rem;
    text-align: center;
    color: var(--primary-color);
    border-top-right-radius: 1rem;
}

.footer h1{
    margin: 0.5rem;
}

.footer .link{
    color: var(--off-white);
}

.list-non-bullet{
    list-style-type: none;
    
}

.list-item-inline{
    display: inline;
    padding-right: 0.5rem;

}



